{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'style/yangiliklar.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <!-- fonts -->
  <link rel="stylesheet" href="{% static 'fonts/font.css' %}">

</head>
<body>
    <!-- navbar -->
    <div class="active-container">
      <header>
        <nav class="navbar d-flex position-fixed w-100">
        <div class="container ">
          <a style="text-decoration:none" href="{% url 'asosiy' %}">
          <h4 class="text-light">Elektron <br> Jurnal</h4>
            </a>
          <div class="row w-1 d-xl-flex d-none  justify-content-end">
            <div class="col-4 d-flex justify-content-between">
               <a class="text-decoration-none text-secondary " href="{% url 'asosiy' %}">Bosh sahifa</a>
            <a class="text-decoration-none text-secondary " href="{% url 'jurnallar' %}">Jurnallar</a>
            <a class="text-decoration-none  text-light " href="{% url 'yangiliklar' %}">Yangililar</a>
            </div>
          </div>
          <a class="navbar-brand " href="#"></a>
          <button class="navbar-toggler bg-white d-xl-none d-flex " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end bg-img" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Elektron <br> jurnal</h5>
              <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between">
              <div class="card1-">

                <div class="row justify-content-center gap-4">
                <div class="col-5"><a class="text-decoration-none text-light " href="{% url 'asosiy' %}">Bosh sahifa</a></div>
                <div class="col-5"><a class="text-decoration-none text-secondary " href="{% url 'jurnallar' %}">Jurnallar</a></div>
                <div class="col-5"><a class="text-decoration-none text-secondary " href="{% url 'yangiliklar' %}">Yangiliklar</a></div>div>
              </div>

              </div>
              <div class="card-2">
                <div class="row justify-content-center mt-1">
                  <div class="col-4 d-flex justify-content-center gap-4">
                    <a class="text-decoration-none" href="">
                      <div class="card1 d-flex justify-content-center align-items-center">
                        <i class="fa-brands fs-3 text-black fa-instagram"></i>
                      </div>
                    </a>
                    <a class="text-decoration-none"  href="">
                      <div class="card1 d-flex justify-content-center align-items-center">
                        <i class="fa-brands fs-3 text-black fa-telegram"></i>
                      </div>
                    </a>
                    <a class="text-decoration-none"  href="">
                      <div class="card1 d-flex justify-content-center align-items-center">
                        <i class="fa-brands fs-3 text-black fa-youtube"></i>
                      </div>
                    </a>
                    <a class="text-decoration-none"  href="">
                      <div class="card1 d-flex justify-content-center align-items-center">
                        <i class="fa-brands fs-3 text-black fa-facebook"></i>
                      </div>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </nav>
        </header>
      <div class="container-1 position-relative bg-img ">
        <div class="container-1a w-100 h-100 ">
          <div class="container-2 position-absolute  w-100 h-100 d-flex justify-content-center align-items-center flex-column">
            <h1 class="text-light text-center">Yangiliklar</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- navabr-end -->
    <!-- jurnallar -->
    <div class="jurnallar mt-5">
      <div class="container">
        <a class="text-decoration-none" href="{% url 'yangilik_detel' mainNew.id  %}">
          <div class="row justify-content-xl-between justify-content-center ">
            <div class="col-xl-6 col-md-9 col-11   d-flex justify-content-center border-radius-1">
              <img class="border-radius-1 w-100" src="{{mainNew.rasm.url}}" alt="">
            </div>
            <div class="col-xl-6 col-md-9 col-11   mt-xl-0 mt-4 padding border-radius-1 bg-blue border-radius-2 ">
              <p class="text-secondary offset-1 mt-5"> <span><i class="fa-solid text-secondary fa-newspaper"></i></span>
                {{mainNew.chopetilishVaqti|date:'Y-m-d'}}</p>
              <h2 class="offset-1 mt-2 text-start text-black">
                {{mainNew.nomi}}
              </h2>
              <p class="offset-1 mt-4 text-black">
              {{mainNew.text|truncatewords:20}}
              </p>
            </div>
          </div>
        </a>
        <!-- <a class="text-decoration-none" href="../dete elin/deteline.html"> -->

          <div class="row mt-4 justify-content-xl-start justify-content-md-center justify-content-sm-center gap-0">
            {% for page in page_obj %}
            <div class="col-xl-4 w91 col-md-8 col-11 d-flex mt-3">
              <a class="text-decoration-none border border-radius-1" href="{% url 'yangilik_detel' page.id %}">
                <div class="card w-100 h-100">
                  <div class="imgCard w-100 border ">
                    <img class="img-fluid" src="{{page.rasm.url}}" alt="">
                  </div>
                  <div class="titleCard">
                    <div class="NewsCard">
                      <p class="fontSize">
                        <span class="text-secondary">{{page.chopetilishVaqti|date:'Y-m-d'}}</span>
                      </p>
                    </div>
                    <div class="sarlavha">
                      <h4 class="margin-left">{{page.nomi}}</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

        <!-- </a> -->
      </div>
    </div>
    <!-- jurnallar end -->
    <!-- futter -->
    <div class="futter bg-dark mt-5">
      <div class="container">
        <div class="row justify-content-center mt-1">
          <div class="col-xl-4 col-11 d-flex justify-content-center gap-4">
            <a class="text-decoration-none" href="">
              <div class="card1 d-flex justify-content-center align-items-center">
                <i class="fa-brands fs-3 text-black fa-instagram"></i>
              </div>
            </a>
            <a class="text-decoration-none"  href="">
              <div class="card1 d-flex justify-content-center align-items-center">
                <i class="fa-brands fs-3 text-black fa-telegram"></i>
              </div>
            </a>
            <a class="text-decoration-none"  href="">
              <div class="card1 d-flex justify-content-center align-items-center">
                <i class="fa-brands fs-3 text-black fa-youtube"></i>
              </div>
            </a>
            <a class="text-decoration-none"  href="">
              <div class="card1 d-flex justify-content-center align-items-center">
                <i class="fa-brands fs-3 text-black fa-facebook"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="row justify-content-center mt-3 ">
          <div class="col-xl-5 col-11">
            <p class="text-light text-center font-size1">Biz ijtimoiy tarmoqlarda kuztib boring !</p>
            <p class="text-light text-center font-size">Uzbekistan 2024</p>
          </div>
        </div>
      </div>
    </div>
    <!-- futter end -->
</body>

<script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</html>