{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- titleImg -->
  <link rel="shorcut icon" href="{% static 'imgs/globus.jpg' %}">
  <!-- title -->
  <title>karantin-jurnali</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
  <!-- style -->
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <!-- fontAwsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <!-- fonts -->
  <link rel="stylesheet" href="{% static 'fonts/font.css' %}">

</head>

<body>
  <div class="active-container">

    <header>

      <nav class="navbar d-flex position-fixed w-100">
        <div class="container d-xl-flex d-none">
          <div class="row w-100 navbarHeight justify-content-between">
            <div class="col-2 ">
              <h4 class="text-light">Elektron <br> Jurnal</h4>
            </div>
            <div class="col-7   d-flex align-items-center justify-content-around gap-2">
              <span class="d-flex gap-5 align-items-center">
                <a target="_blank" class="text-light text-decoration-none  mt-2" href="">
                  <p class="gap-3"><span><i class="fa-solid fa-phone"></i></span>+998 90 353-37-77</p></a>
                <a target="_blank" class="text-light text-decoration-none mt-2" href="#">
                  <p><span><i class="fa-solid fa-phone"></i></span>+998 90 946-22-42</p>
                </a>
              </span>
              <span>
                <div class="icons d-flex gap-4">
                  <a target="_blank" href="https://www.facebook.com/profile.php?id=100083391671026"><div class="icon">
                    <i class="fa-brands fs-5 fa-facebook"></i></div>
                  </a>
                  <a target="_blank" href=""><div class="icon"><i class="fa-brands fs-5  fa-youtube"></i></div></a>
                  <a target="_blank" href=""><div class="icon"><i class="fa-brands fs-5  fa-instagram"></i></i></div></a>
                  <a target="_blank" href="https://t.me/karantinjurnal"><div class="icon"><i class="fa-brands fs-5 fa-telegram"></i></div></a>
                </div>
              </span>
              <div class="icon">
                <a href="{% url 'admin:index' %}}"><i class="fa-regular fa-eye text-secondary fs-5"></i></a>
              </div>
            </div>
            <div class="col-3  d-flex align-items-center justify-content-end">
              <button class="navbarButton">
                Ro'yhatdan o'tish
              </button>
            </div>
          </div>
        </div>
        <div class="navbar-line d-xl-flex d-none"></div>
      <div class="container ">
        <div class="row d-xl-none d-md-flex d-none navbarWidht justify-content-between">
          <div class="col-md-4 col-sm-4">
            <h4 class="text-light offset-1">Elektron <br> Jurnal</h4>  
          </div>
          <div class="col-md-5  d-flex align-items-center justify-content-center gap-5">
            <div class="icons d-flex gap-4">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=100083391671026">
                <div class="icon"><i class="fa-brands fs-5 fa-facebook"></i></div></a>
              <a target="_blank" href=""><div class="icon"><i class="fa-brands fs-5  fa-youtube"></i></div></a>
              <a target="_blank" href=""><div class="icon"><i class="fa-brands fs-5  fa-instagram"></i></i></div></a>
              <a target="_blank" href="https://t.me/karantinjurnal"><div class="icon"><i class="fa-brands fs-5 fa-telegram"></i></div></a>
            </div>
            <div class="icon">
              <a href="{% url 'admin:index' %}"><i class="fa-regular fa-eye text-secondary fs-5"></i></a>
            </div>
          </div>
          <div class=" col-md-3 col-sm-4    align-items-center d-flex justify-content-center">
            <button class="navbarButton">
              Ro'yhatdan o'tish
            </button>
          </div>
        </div>
        <div class="row navbarWidht d-xl-none d-md-none d-flex">
          <div class="col-5 ">
            <h4 class="text-light offset-1">Elektron <br> Jurnal</h4>  
          </div>
          <div class="col-7 d-flex align-items-center gap-3">
            <div class="icons d-flex gap-4 ">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=100083391671026">
                <div class="icon"><i class="fa-brands fs-5 fa-facebook"></i></div></a>
              <a target="_blank" href=""><div class="icon"><i class="fa-brands fs-5  fa-youtube"></i></div></a>
              <a target="_blank" href=""><div class="icon"><i class="fa-brands fs-5  fa-instagram"></i></i></div></a>
              <a target="_blank" href="https://t.me/karantinjurnal"><div class="icon"><i class="fa-brands fs-5 fa-telegram"></i></div></a>
            </div>
          </div>
        </div>
        <div class="row d-xl-flex d-none w-1 d-xl-flex d-none  justify-content-end">
          <div class="col-8 d-flex justify-content-between">

            <a class="text-decoration-none active-1 " href="{% url 'asosiy' %}">Bosh sahifa</a>
            <a class="text-decoration-none text-white " href="{% url 'jurnallar' %}">Jurnallar</a>
            <a class="text-decoration-none text-white " href="{% url 'yangiliklar' %}">Yangiliklar</a>
            <a class="text-decoration-none text-white " href="{% url 'taxririyat_list' %}">Taxririyat </a>
            <a class="text-decoration-none text-white " href="{% url 'talablar_list' %}">Talablar</a>

          </div>
        </div>
        <a class="navbar-brand " href="#"></a>
        <button class="navbar-toggler bg-white d-xl-none d-flex " type="button"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-img" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Elektron <br> jurnal</h5>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-flex flex-column justify-content-between">
            <div class="card1-">
              <div class="row justify-content-center gap-4">

                <div class="col-5"><a class="text-decoration-none active-1 " href="{% url 'asosiy' %}">Bosh sahifa</a>
                </div>
                <div class="col-5"><a class="text-decoration-none text-white " href="{% url 'jurnallar' %}">Jurnallar</a>
                </div>
                <div class="col-5"><a class="text-decoration-none text-white " href="{% url 'yangiliklar' %}">Yangiliklar</a>
                </div>
                <div class="col-5"><a class="text-decoration-none text-white " href="{% url 'taxririyat_list' %}">Taxririyat </a>
                </div>
                <div class="col-5"><a class="text-decoration-none text-white " href="{% url 'talablar_list' %}">Talablar</a>
                </div>

              </div>
              <form class="d-flex mt-5" role="search" method="get" action="{% url 'search' %}">
                <input class="form-control me-2" type="search"  name="q" placeholder="Jurnal qidirish" aria-label="Search">
                <button class="btn bg-black text-light" type="submit">Qidirish</button>
              </form>
            </div>
            <div class="card-2">
              <div class="row justify-content-center mt-1">
                <div class="col-4 d-flex justify-content-center gap-4">
                  <a class="text-decoration-none" href="">
                    <div class="card1 d-flex justify-content-center align-items-center">
                      <i class="fa-brands fs-3 text-black fa-instagram"></i>
                    </div>
                  </a>
                  <a class="text-decoration-none"  href="">
                    <div class="card1 d-flex justify-content-center align-items-center">
                      <i class="fa-brands fs-3 text-black fa-telegram"></i>
                    </div>
                  </a>
                  <a class="text-decoration-none"  href="">
                    <div class="card1 d-flex justify-content-center align-items-center">
                      <i class="fa-brands fs-3 text-black fa-youtube"></i>
                    </div>
                  </a>
                  <a class="text-decoration-none"  href="">
                    <div class="card1 d-flex justify-content-center align-items-center">
                      <i class="fa-brands fs-3 text-black fa-facebook"></i>
                    </div>
                  </a>
                  <a  class="text-decoration-none d-xl-none d-md-none d-flex"  href="">
                    <div class="card1 d-flex justify-content-center align-items-center">
                      <i class="fa-regular fa-eye text-black fs-5"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </nav>

      </header>

    <div class="container-1 position-relative  ">
      <div class="container-2 position-absolute mt-5  w-100 h-100 d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-balck text-center">Agro kimyo himoya va <br> osimliklar karantin jurnali</h1>

        <form class="d-flex w90 mt-5" role="search" method="get" action="{% url 'search' %}">
          <input class="form-control me-2" type="search" name="q" placeholder="Jurnal qidirish" aria-label="Search">
          <button class="btn bg-black text-light" type="submit"><i class="fa-solid fa-arrow-right"></i></button> 
        </form>

      </div>
    </div>
  </div>
  <div class="jurnallar mt-5">
    <div class="container">
      <div class="row  justify-content-center position-relative ">
        <div class="col-xl-3 col-md-6 d-block justify-content-start position- left col-10 ">
          <p class="text-black offset-1">Jurnal turini tanlang</p>

          <div class="list-group mt-5">
            <a href="{% url 'sinov_detel' 0 %}" class="list-group-item list-group-item-action " aria-current="true">Barcha turlari</a>

            {% for x in fayl_turi %}
                <a href="{% url 'sinov_detel' x.id %}" class="list-group-item list-group-item-action"
                   aria-current="true">{{x.turi}}
                </a>
            {% endfor %}

          </div>
        </div>  
        <div class="col-9">
          <div class="row">
            {% if jurnal %}
            {% for x in jurnal %}
            <div class="col-xl-12 col-md-11 mt-4 h50 border-6 align-items-start d-flex p-4">
              <div class="informatsiya d-flex justify-content-between gap-3 ">
                <div class="img">
                  <img class="img-fluid" src="{{x.rasm.url}}" alt="">
                </div>
                <div class="content d-flex flex-column justify-content-between ">
                  <h6 class="text-primary fs-4 ">{{x.nomi}}</h6>
                  <p class="text-black  font-size">{{x.Text|truncatewords:10}}
                    <br>
                    <a class="text-decoration-none text-primary" href="">{{x.kategory}}</a>
                  </p>
                  <div class="box w-100 mb-2 d-flex justify-content-center">
                    <div class="card-1">
                      <a class="font-size" href="{{x.fayl.url}}">
                        <i class="fa-solid fa-download"></i>
                        Faylni yuklash
                      </a>
                    </div>
                  </div>
                  <div class="box">
                    <a href="{% url 'jurnal_detel' x.id %}">Batafsil ma'lumot uchun .</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-xl-12 col-md-11 mt-4 h50 border-6 align-items-start d-flex p-4">
              <div class="informatsiya d-flex justify-content-between gap-3 ">
                <div>
                  <h3 class="align-items-center">Hech qanday Jurnal topilmadi.</h3>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-5  d-flex justify-content-center">
          <button class="button d-flex align-items-center justify-content-center">
            <a class="text-decoration-none text-white" href="{% url 'jurnallar' %}">Barcha jurnallar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="futter bg-dark mt-5">
    <div class="container">
      <div class="row justify-content-center mt-1">
        <div class="col-xl-4 d-flex justify-content-center gap-4">
          <a class="text-decoration-none" href="https://t.me/karantinjurnali">
            <div class="card1 d-flex justify-content-center align-items-center">
              <i class="fa-brands fs-3 text-black fa-instagram"></i>
            </div>
          </a>
          <a class="text-decoration-none"  href="">
            <div class="card1 d-flex justify-content-center align-items-center">
              <i class="fa-brands fs-3 text-black fa-telegram"></i>
            </div>
          </a>
          <a class="text-decoration-none"  href="https://www.youtube.com/">
            <div class="card1 d-flex justify-content-center align-items-center">
              <i class="fa-brands fs-3 text-black fa-youtube"></i>
            </div>
          </a>
          <a class="text-decoration-none"  href="">
            <div class="card1 d-flex justify-content-center align-items-center">
              <i class="fa-brands fs-3 text-black fa-facebook"></i>
            </div>
          </a>
          
        </div>
      </div>
      <div class="row justify-content-center mt-3 ">
        <div class="col-xl-5 col-md-9">
          <p class="text-light text-center font-size1">Biz ijtimoiy tarmoqlarda kuztib boring !</p>
          <p class="text-light text-center font-size">Uzbekistan 2024</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</html>